*{box-sizing:border-box;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body{
    
padding:0;
margin:0;}

.maincontainer{display:grid;
     grid-template-columns: 1fr 3fr;
    /*grid-template-rows:25vh 25vh 25vh 25vh;*/}

.header{background-color:rgb(169, 240, 240);
       grid-area:1/2/1/2;
       display:flex;align-items: center;justify-content: center;
       position: sticky;
      top:0px;
      height: 100%;
}


/*form/ sidebar content*/
.sidebarform{background-color:rgb(240, 132, 132);
  
    grid-area:1/1/5/1;
    display:flex; flex-direction: column;
    justify-content: start;
    align-items: center;

    
}
.sidebarform form{display:flex;
    flex-direction:column;
      gap:2px;
      
    position: sticky;
      top:0px;
      height: 100vh;

      
    }

   form h2{text-align: center;
      }

      

.container{padding:10px;}
input[type=text], input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=number]:focus{
    background-color: #ddd;
    outline: none;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }
  
  button:hover {
    opacity:1;
  }

  .cancelbtn{background-color:rgb(161, 161, 172);}

/*main content*/
  .maincontent{background-color:rgb(161, 161, 172);
    grid-area:2/2/5/3;padding:10px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:10px;
   
  }

  .maincontent div{
    background-color:white;
    width:20vw;
    text-align:center;
    
    }

    

    img{cursor:pointer;}

    
  
   